* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0 auto;
	font-family: 'TikTok Sans', sans-serif;
	color: white;
}

video {
	height: 100%;
	width: 100%;
	display: block;
	object-position: center;
	object-fit: cover;
}

.reel-page {
	height: 100vh; /* ti incuriosisce? */
	max-width: 512px;
	min-width: 400px;
	position: relative;
}

.reel-header {
	position: absolute;
	align-items: center;
	justify-content: space-between;
	top: 0;
	left: 0;
	right: 0;

	/* Inserisci qui sotto 
	le tue regole, se necessario. */
}

/* Nav bar superiore */ 

.nav-flex {
	display: flex;
	justify-content: space-between;
	padding: 15px;
}

.nav-item {
	line-height: 50px;
}

.nav-item ul {
	display: flex;
	gap: 20px;
	list-style: none;
	line-height: 50px;
}

.nav-item {
	font-size: 20px;
	font-weight: 500;
}

/* Footer */
article {
	width: 70%;
	padding: 15px;
}

article h1,
article p,
article p span {
	font-size: 1rem;
}

article span {
	font-size: 1rem;
}

footer {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	color: #fff;

	/* Inserisci qui sotto 
	le tue regole, se necessario. */
}

footer nav {
	display: flex;
}

footer nav div {
	flex-basis: 20%;
	text-align: center;
	background-color: rgb(0, 0, 0);
	padding: 10px;
}

footer span {
	display: block;
	font-size: 30px;
}

footer span:last-child {
	font-size: 10px;
}

/* Sidebar */
.sidebar {
	padding: 0 16px;
	position: absolute;
	right: 0;
	top: 40%;
}

.sidebar {
	padding: 0 16px;
	position: absolute;
	right: 0;
	top: 40%;
}

.sidebar div {
	width: 60px;
	height: 60px;
	border: 2px darkgoldenrod dashed;
	padding: 5px;
	margin: 10px auto;
	text-align: center;
}

.sidebar div span {
    display: block;
	font-size: 25px;
}

/* Sidebar Icons */
.sidebar img {
	display: block;
	width: 100%;
	margin: 0 auto;
}

.sidebar span {
	font-size: 20px;
}

.sidebar span:last-child {
	font-size: 10px;
}


/* ---------------------
Regole per evidenziare i blocchi 
da rimuovere una volta concluso
--------------------- */
.debug footer {
	min-height: 100px;
	border: 2px dashed #fff;
}

.debug .sidebar {
	min-width: 80px;
	min-height: 450px;
	border: 2px dashed #ff0;
}

.debug .reel-header {
	border: 2px dashed #fff;
}

/* --------------------- */


